*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.debug{
  background-color: rgba(95, 158, 160, 0.288);
  border: 1px solid black;
}

.container{
  width: 85%;
  margin: 100px auto;
}

.btn{
  border: 0;
  background-color: cornflowerblue;
  padding: 5px 10px;
  cursor: pointer;

}

header{
  padding: 1rem 2rem;
  background-color: darkslategrey;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.my-modal{
  position: fixed;
  background-color: rgba(0, 0, 0, 0.3);
  top: 0;
  left: 0;
  right: 0;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.my-form-container{
  background-color: white;
  height: 80vh;
  width: 50vw;
  padding: 1rem 1rem;
}

.my-input-container{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 2rem;
}

.my-input{
  width: 70%;
  height: 2rem;
}

.wrapper{
  width: 100%;
  display: flex;
  flex-wrap: wrap;

}

.card{
  width: calc(100% / 3 - 2rem);
  display: flex;
  margin: 1rem;
}

.card img{
  max-width: 50%;
}

.card ul{
  margin-left: 2rem;
}